$bgColor: #008080;
$lightestGrey: #f3f3f3;
$brightColor: #3EB489;

$fireColor: rgb(255,80,0);
$fireColorT: rgba(255,80,0,0);
$dur: 1s;
$blur: 2px;
$fireRad: 3em;
$parts: 50;
$partSize: 120px;

body {
  min-height: 100vh;
  background-color: $bgColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $lightestGrey;
  font-family: Arial, sans-serif;

  &.mozgosteb {
    background-image: url('../img/mozgosteb.jpg');
    background-color: black;

    .btn {
      background: #3b3101;
    }
  }

  &.bearinbloodbath {
    background-image: url('../img/bearinbloodbath.jpg');
    background-color: black;

    .btn {
      background: #bb0a1e;
    }
  }

  &.adscripta {
    background-image: url('../img/adscripta.jpg');
    background-color: black;

    .btn {
      background: #5F9EA0;
    }
  }
}

.hidden {
  display: none;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.inputs-container {
  font-size: 0;
  margin-bottom: 20px;
}

.form-control {
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  height: 30px;
  border: 0;
  padding: 0;
  padding-left: 10px;
  line-height: 30px;
  font-size: 16px;
  outline: none;
}

.btn {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  padding: 0 10px;
  background: $brightColor;
  color: $lightestGrey;
  outline: none;
}

.result-item {
  margin-bottom: 20px;
}

.loader {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 4px solid $lightestGrey;
  border-top: 4px solid $brightColor;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
